container_commands:
    00_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"